<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<head>
        <title>title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    </head>
    <body>
        <ui:composition>
            <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">AUSPrintings Pty Ltd</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="http://localhost:8080/fit5042-war/index.xhtml">Home</a></li>  
              <li><a href="http://localhost:8080/fit5042-war/about.xhtml">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://localhost:8080/fit5042-war/admin/index.xhtml"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
            </nav>
            </ui:composition>
    </body> 
</html>
