<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<title>Homepage</title>
</h:head>
<h:body>
<h1>Navigation</h1>
<a href="../infor.xhtml">1</a>
<h:Link href="add.xhtml">2</h:Link>
<h:Link value="admin/add.xhtml">3</h:Link>
<a href="add.xhtml">4</a>
</h:body> 
</html>
